@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@keyframes Aumentar{
    0%{width:0%;}
    100%{width:var(--w)}
}

:root{
    /*FIGURAS*/
    --celeste: #34b0be;
    --gris: #d1ceca;
    --oscuro: #242635;
    --blanco: #FFFFFF;
    --fondo: #004bd6;
    /*TEXTO*/
    --titulo: 50px;
    --subtitulo: 32px;
    --subseccion: 18px;
    --parrafo:16px;
    --sombra: rgb(0,0,0,0.4)


}
*{  
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--fondo);
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 16px;
    
}
/*PERMITE QUE LA PAGINA NO TENGA MOVIMIENTO DE FUGA HORIZONTAL*/
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
/* */
img{
    max-width: 300px;
}

.header-barra {
    z-index: 100;
    width: 90%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-item {
    list-style: none;
    display: inline-block;
    margin: 20px 35px;
    position: relative;
}
.menu-item > a {
    text-decoration: none;
}
.menu-item::before{
    content: "";
    height: 4px;
    width: 0%;
    background: var(--celeste);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.4s ease-out;
    border-radius: 10px;
}
.menu-item:hover::before{
    width: 100%;
}
.menu-title{
    color: whitesmoke;
    font-size: var(--subseccion);
}
#btn-menu{
    visibility: hidden;
}
.header-barra >label > img{
    height: 40px;
    width: 40px;
}

.barra-menu{
    z-index: 90;
    position: absolute;
    width: 100%;
    top: 80px;
    background-color: var(--fondo);
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    left: -100%;
    transition: left 0.9s linear;
    border-right: 5px solid salmon;
}  
#btn-menu:checked ~ .barra-menu{
    left: 0;
}
.header-barra >  label :hover{
    filter: brightness(0) saturate(100%) invert(69%) sepia(30%) saturate(838%) hue-rotate(138deg) brightness(81%) contrast(97%);
}

.header-information{
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.informacion-image{
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 400px;

}
.circulo{
    z-index: 10;
    position:absolute;
    object-fit: cover;
    width: 300px;
    height: 300px;  
    background: var(--gris);
    opacity: 0.7;
    box-shadow: 1px 1px 5px var(--sombra);
    border-radius: 100%;
    border-bottom: 10px solid var(--blanco);
}
.header--image1{
    z-index: 11;
    width: 200px;
    height: 300px;
   /* border-bottom: 5px solid #34b0be;*/
}

/*INFORMACION PERSONAL*/
.information-personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0.5rem;
}
.information-personal >h1{
    font-size: var(--subtitulo);
    text-align: center;
}
.information-personal > h1 > span{
    font-size: var(--titulo);
    color: var(--celeste);
    padding: 0 1rem;
}
.studies{
    border-top: 3px solid var(--blanco);
    padding: 0.5rem 1.5rem;
    margin-bottom: 2rem;
}
.text-experience{
    color: var(--celeste);
    font-weight: bold;  
}
/* REDES SOCIALES*/
.social-container{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-container__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blanco);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 1rem;
    box-shadow: 1px 1px 10px var(--sombra);
}
.social-icon{
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(25%) sepia(24%) saturate(21%) hue-rotate(346deg) brightness(101%) contrast(94%);
}
/* TRABAJOS */
.work-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 238, 238, 0.524);    
    border-radius: 10px;
    
    height: 100px;
   /* margin: 1rem;*/
    box-shadow: 1px 1px 10px var(--sombra);
}
.work-container__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    background-color: rgba(255, 255, 255, 0.834);    border-radius: 10px;
    width: 85px;
    height: 55px;
}
.work-icon{
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(25%) sepia(24%) saturate(21%) hue-rotate(346deg) brightness(101%) contrast(94%);
}
/* SERVICIOS */
.section-about{
    text-align: center;
    margin: 1rem;
}
.section-about > h2{
    margin-top: 4rem;
    font-size: var(--subtitulo);
    color: var(--celeste);
    margin-bottom: 1rem;
}
/* SERVICIOS */
.section-service{
    text-align: center;
    margin: 1rem;
}
.section-service > h2{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    color: var(--celeste);
    font-size: var(--subtitulo);
}
.service-container{
    display: grid;
    grid-template-columns: 250px 250px 250px ;
    gap: 20px;
    overflow: auto;
    justify-content: space-between;
}
.service-card{
    width: 250px;
    height: 325px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px var(--sombra);
    background-color:var(--blanco);
    background-image: url("../images/Vectores/Ellipse\ 14.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 100%;
}
.service-card h3{
   font-size: var(--subtitulo);
   color: var(--oscuro);
   font-weight: bold;
   margin-top: 1rem;
   
}
.service-card p{
    font-size: var(--subseccion);
    color: var(--gris);
    margin-top: 1rem;
    
 }
.service-card img{
    width: 125px;
    height: 125px;
    margin-top: 1.5rem;
    
}

/*MIS HABILIDADES*/

.section-abilities{
    
    text-align: center;
    margin: 1rem;
}
.section-abilities > h2{
    margin-top: 4rem;
    color: var(--celeste);
    font-size: var(--subtitulo);
}
.cont-abilities{
    margin-top: 1.5rem;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-rows: 60px 60px 60px ;
    
    
}
.cont-abilities__section > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.progress-bar{
    width: 290px;
    height: 15px;
    background: var(--blanco);
    border-radius: 10px ;
    box-shadow: 1px 1px 10px var(--sombra);
    border-bottom: 2px solid rgb(225,225,225,0.4);
    border-right: 3px solid rgb(225,225,225,0.4);
    margin: 0.5rem 0;

}
.progress-bar__percentage{
    width: var(--w);
    height: 100%;
    background: var(--celeste);
    border-radius: 10px ;
    animation: Aumentar 5s ease;
}


/*MI PORTAFOLIO*/
.section-briefcase{
    margin: 1rem;
    width: 90%;
}
.section-briefcase > div > h2{
    margin-top: 3rem;
    color: var(--celeste);
    font-size: var(--subtitulo);
    text-align: center;
}
.cont-briefcase{
    margin: 2rem 0;
}
.cont-briefcase__carrusel{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    overflow: auto;
    object-fit: contain;
    
}
.cont-briefcase__carrusel > li > img{
    width: 300px;
    height: 250px;
    box-shadow: 1px 1px 10px var(--sombra);
}

/*CONTACTO*/

.section-contact{
    text-align: center;
}
.section-contact > h2{
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--celeste);
    font-size: var(--subtitulo);
}
.contact-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.contact-card{
    background: var(--blanco);
    width: 225px;
    height: 225px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--sombra);
    background-image: url("../images/Vectores/Ellipse\ 14.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-size: 100%;
}
.contact-card > img{
    margin-top: 2rem;
    width: 100px;
    height: 100px;
}
.contact-card > h3{
    font-size: var(--subseccion);
    color: var(--oscuro);
}
.contact-card > p {
    font-size: 16px;
    color: var(--gris);
}
/* PIE DE LA PAGINA*/

footer > h4{
    margin: 3rem 1rem;
    text-align: center;
    font-size: 16px;
    color: var(--celeste);
    
}
footer > h4 > span{
   color: rgba(255, 0, 0, 0.8);
   text-shadow: 1px 1px 10px red;
}
footer > p{
    text-align: center;
    font-size: 16px;
    color: var(--gris);
    text-shadow: 1px 1px 10px black;
}


/*

@media screen and (min-width: 600px ) {
    .header-information{
        padding: 1rem 4.5rem;
    }
}


@media screen and (min-width: 768px) {
    label{
        display: none;
    }
    .barra-menu{
        position: static;
        flex-direction: row;
        min-height: auto;
        justify-content: end;
        background-color: transparent;
    }
    .menu-item{
        padding-left: 1.25rem;
        font-size: 1rem;
    }

    .section-about{
        padding: 2rem 5rem;
    }

}

@media  screen and (min-width: 992px) {
    
    .superior{
        background-position: top 0 right 0;
    }

    .header-information{
        flex-direction: row;
    }

    .social-container{
        margin: 0;
        justify-content: space-between;
        max-width: 300px;
    }
}*/